@model HRM.Models.ViewModels.QualificationVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualificationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualificationTime)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DegreeLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DegreeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoardUniversity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoardUniversity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QualitifationTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QualitifationTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearOfResult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarksType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarksType)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarksObtained)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarksObtained)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>
        @if (Model.QualificationTime == "After Joining")
        {
          <dt class="col-sm-2">
              @Html.DisplayNameFor(model => model.NOC)
            </dt>
            <dd class="col-sm-10">
                @(Model.NOC ? "Yes" : "No")
                @if (Model.NOC)
                {
                    Html.DisplayImage(Model.NOCURL);
                }
            </dd>
            <dt class="col-sm-2">
              @Html.DisplayNameFor(model => model.IsPlacedOnRecord)
            </dt>
            <dd class="col-sm-10">
                @(Model.IsPlacedOnRecord ? "Yes" : "No")
               
            </dd>
        }
        




        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Degree_Front_URL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayForImage(model => model.Degree_Front_URL,Model.Degree_Front_URL)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
